/* navigation bar */

.navbar {
    background: #ffff;
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }
  
  .navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 50px;
  }
  
  .navbar__logo img {
    width: 190px;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5%;
  }
  
  .fa-rem {
    margin-right: 0.5rem;
  }
  
  .navbar__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    text-align: center;
  }
  
  .navbar__item {
    height: 80px;
    justify-content: center;
  }
  
  .navbar__links {
    color: #141e46;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
  }
  
  .navbutton {
    display: flex;
    margin: 10px;
    justify-content: end;
  }
  
  .navbar__btn {
    display: flex;
    align-items: center;
    padding: 0 2rem;
    width: 7%;
  }
  
  .button {
    display: flex;
    background-color: #bb2525;
    color: #fff;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    padding: 10px 10px;
    height: 45%;
    width: auto;
    border: none;
    outline: none;
    border-radius: 4px;
  }
  
  .username {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    text-align: center;
    margin: 25px;
    color: #141e46;
    cursor: pointer;
  }
  
  .button:hover {
    background: #141e46;
    transition: all 0.3s ease;
  }
  
  .navbar__links:hover {
    color: #bb2525;
    transition: all 0.3s ease;
  }
  
  .navbar__dropdown {
    position: relative;
  }
  
  .dropdown__toggle {
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    right: 0;
    z-index: 1;
    display: none;
  }
  
  .username:hover + .dropdown__toggle {
    display: block;
  }
  
  .dropdown__menu {
    position: absolute;
    list-style: none;
    top: calc(100% + 10px);
    left: 0;
    z-index: 1;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 8px 0;
  }
  
  .dropdown__item {
    padding: 8px 16px;
    cursor: pointer;
  }
  
  .dropdown__item:hover {
    color: #bb2525;
  }
  
  @media screen and (max-width: 960px) {
    .navbar__container {
      display: flex;
      justify-content: space-between;
      height: 80px;
      z-index: 1;
      width: 100%;
      max-width: 1240px;
      padding: 0;
    }
  
    .navbar__menu {
      display: grid;
      grid-template-columns: auto;
      margin: 0;
      width: 100%;
      position: absolute;
      top: -1000px;
      opacity: 0;
      transition: all 0.5s ease;
      height: 50vh;
      z-index: -1;
    }
  
    .navbar__menu.active {
      background: #faf2f3;
      top: 100%;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 99;
      height: 50vh;
      font-size: 1.6rem;
    }
  
    .navbar__logo {
      padding-left: 25px;
    }
  
    .navbar__toggle .bar {
      width: 25px;
      height: 3px;
      margin: 5px auto;
      transition: all 0.3 ease-in-out;
      background: #333;
    }
  
    .navbar__item {
      width: 100%;
    }
  
    .navbar__links {
      text-align: center;
      padding: 2rem;
      width: 100%;
      display: table;
    }
  
    #mobile-menu {
      position: absolute;
      top: 20%;
      right: 5%;
      transform: translate(5%, 20%);
    }
  
    .navbar__btn {
      padding-bottom: 2rem;
    }
  
    .button {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 80px;
      width: 80%;
      margin: 0;
    }
  
    .navbar__toggle .bar {
      display: block
    }
}  